footer {
  background-color: red;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  background-color: #eee;

  .footer-left,.footer-right {
    li {
      float: left;
      margin-left: 10px;
    }
  }

  .footer-right {
    float: right;
    margin-right: 10px;
  }
}