.search {
  text-align: center;
  margin-top: 200px;

  header {
    img {
      height: 92px;
      width: 272px;
    }
  }

  .search-main {
    width: 550px;
    margin: 0 auto;
    position: relative;
  }

  .search-icon, .voice-icon {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 25px;
    width: 40px;
    height: 25px;
    cursor: pointer;
  }

  .search-icon {
    left: 10px;
    color: #aaa;
  }

  .voice-icon {
    right: 10px;
  }

  input {
    width: 550px;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 25px auto;
    outline: none;
    text-indent: 50px;
  }
}